/* ==== SHARED COMMON CLASSES ==== */
/* Generic CSS classes used across multiple study programs */
/* These classes use CSS variables that are defined program-specifically */

/* ==== COMMON CATEGORY CLASSES ==== */

/* Generic categories (used by most programs) */
.obligatorisch {
    background-color: var(--color-obligatorisch);
    color: white;
}

.kern {
    background-color: var(--color-kern);
    color: black;
}

.wahl {
    background-color: var(--color-wahl);
    color: black;
}

.wissenschaft {
    background-color: var(--color-wissenschaft);
    color: white;
}

.vertiefung {
    background-color: var(--color-vertiefung);
    color: black;
}

.grundlagen {
    background-color: var(--color-grundlagen);
    color: white;
}

.wahlpflicht {
    background-color: var(--color-wahlpflicht);
    color: black;
}

.ergaenzung {
    background-color: var(--color-ergaenzung);
    color: white;
}

.praktikum {
    background-color: var(--color-praktikum);
    color: white;
}

.wahlmodule {
    background-color: var(--color-wahlmodule);
    color: white;
}

.freie-wahl {
    background-color: var(--color-freie-wahl);
    color: black;
}

.selbstaendig {
    background-color: var(--color-selbstaendig);
    color: white;
}

/* ==== MAJOR-MINOR COMMON CLASSES ==== */

.major {
    background-color: var(--color-major);
    color: white;
}

.minor {
    background-color: var(--color-minor);
    color: white;
}

.pflicht {
    background-color: var(--color-pflicht);
    color: white;
}

/* ==== COMMON HOVER EFFECTS ==== */

.modul:hover {
    filter: brightness(1.1);
}
