/* ==== ETH-LMW - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="eth-lmw"] .modul.basispruefung,
[data-studiengang="eth-lmw"] .legende-item.basispruefung {
    background-color: var(--color-basispruefung);
    color: var(--color-basispruefung-text, white);
}

[data-studiengang="eth-lmw"] .modul.zusatzfach,
[data-studiengang="eth-lmw"] .legende-item.zusatzfach {
    background-color: var(--color-zusatzfach);
    color: var(--color-zusatzfach-text, white);
}

[data-studiengang="eth-lmw"] .modul.obligatorisch,
[data-studiengang="eth-lmw"] .legende-item.obligatorisch {
    background-color: var(--color-obligatorisch);
    color: var(--color-obligatorisch-text, white);
}

[data-studiengang="eth-lmw"] .modul.grundlagenfach,
[data-studiengang="eth-lmw"] .legende-item.grundlagenfach {
    background-color: var(--color-grundlagenfach);
    color: var(--color-grundlagenfach-text, white);
}

[data-studiengang="eth-lmw"] .modul.weitere,
[data-studiengang="eth-lmw"] .legende-item.weitere {
    background-color: var(--color-weitere);
    color: var(--color-weitere-text, white);
}

[data-studiengang="eth-lmw"] .modul.kernfach,
[data-studiengang="eth-lmw"] .legende-item.kernfach {
    background-color: var(--color-kernfach);
    color: var(--color-kernfach-text, white);
}

[data-studiengang="eth-lmw"] .modul.fachgrundlage,
[data-studiengang="eth-lmw"] .legende-item.fachgrundlage {
    background-color: var(--color-fachgrundlage);
    color: var(--color-fachgrundlage-text, white);
}

[data-studiengang="eth-lmw"] .modul.lmw-fach,
[data-studiengang="eth-lmw"] .legende-item.lmw-fach {
    background-color: var(--color-lmw-fach);
    color: var(--color-lmw-fach-text, white);
}

[data-studiengang="eth-lmw"] .modul.praktikum,
[data-studiengang="eth-lmw"] .legende-item.praktikum {
    background-color: var(--color-praktikum);
    color: var(--color-praktikum-text, white);
}

[data-studiengang="eth-lmw"] .modul.exkursion,
[data-studiengang="eth-lmw"] .legende-item.exkursion {
    background-color: var(--color-exkursion);
    color: var(--color-exkursion-text, white);
}

[data-studiengang="eth-lmw"] .modul.wahl,
[data-studiengang="eth-lmw"] .legende-item.wahl {
    background-color: var(--color-wahl);
    color: var(--color-wahl-text, white);
}

[data-studiengang="eth-lmw"] .modul.wik,
[data-studiengang="eth-lmw"] .legende-item.wik {
    background-color: var(--color-wik);
    color: var(--color-wik-text, white);
}

[data-studiengang="eth-lmw"] .modul.bachelor-arbeit,
[data-studiengang="eth-lmw"] .legende-item.bachelor-arbeit {
    background-color: var(--color-bachelor-arbeit);
    color: var(--color-bachelor-arbeit-text, white);
}
