.eth-math .card-header {
    background-color: #0d5b8c;
}

.eth-cse .card-header {
    background-color: #8064a2;
}

.unisg-bwl .card-header {
    background-color: #0066b2;
}

.eth-cs .card-header {
    background-color: #7cc623;
}

.eth-itet .card-header {
    background-color: #00a0e3;
}

.eth-mtec .card-header {
    background-color: #e67e22;
}

.hssh-it .card-header {
    background-color: #2E86AB;
}

.aspira-ce .card-header {
    background-color: #1F4E79;
}

.fhzh-cs .card-header {
    background-color: #5B9BD5;
}

.fhgr-cds .card-header {
    background-color: #D4A574;
}

.eth-rig .card-header {
    background-color: #DC143C;
}

.fhbern-eit .card-header {
    background-color: #00a0e3;
}

.fhlu-eit .card-header {
    background-color: #00a0e3;
}

.eth-hst .card-header {
    background-color: #2b8a7a;
}

.sozwi .card-header {
    background-color: #6a1b9a;
}

.uzh-geschichte .card-header {
    background-color: #8b4513;
}

.uzh-polisci .card-header {
    background-color: #1e40af;
}

.uzh-ethnologie .card-header {
    background-color: #c2410c;
}

.uzh-kommunikation .card-header {
    background-color: #0891b2;
}

.uzh-pop-kultur .card-header {
    background-color: #db2777;
}

.uzh-soziologie .card-header {
    background-color: #7c3aed;
}

.eth-msc-itet .card-header {
    background-color: #00a0e3;
}

.eth-lmw .card-header {
    background-color: #16a34a;
}

.eth-masch .card-header {
    background-color: #0D5B8C;
}

.eth-matw .card-header {
    background-color: #d97706;
}

.eth-physik .card-header {
    background-color: #7c2d12;
}

.unibas-sbg .card-header {
    background-color: #0891b2;
}
