/* ==== ETH-CS - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="eth-cs"] .modul.cs-pure {
    background-color: var(--color-cs-pure);
    color: white;
}

[data-studiengang="eth-cs"] .modul.cs-cse {
    background-color: var(--color-cs-cse);
    color: white;
}

[data-studiengang="eth-cs"] .modul.cs-cse-wahl {
    background-color: var(--color-cs-cse-wahl);
    color: white;
}

[data-studiengang="eth-cs"] .modul.math {
    background-color: var(--color-math);
    color: white;
}

[data-studiengang="eth-cs"] .modul.algo {
    background-color: var(--color-algo);
    color: white;
}

[data-studiengang="eth-cs"] .modul.ergaenzung {
    background-color: var(--color-ergaenzung);
    color: white;
}

[data-studiengang="eth-cs"] .modul.wissenschaft {
    background-color: var(--color-wissenschaft);
    color: white;
}

[data-studiengang="eth-cs"] .modul.spezialisierung {
    background-color: var(--color-spezialisierung);
    color: black;
}

[data-studiengang="eth-cs"] .modul.wahlfaecher {
    background-color: var(--color-wahlfaecher);
    color: white;
}
