/* ==== ETH-CS - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="eth-cs"] .modul.pflicht {
    background-color: var(--color-pflicht);
    color: white;
}

[data-studiengang="eth-cs"] .modul.wahlpflicht {
    background-color: var(--color-wahlpflicht);
    color: white;
}

[data-studiengang="eth-cs"] .modul.wahl {
    background-color: var(--color-wahl);
    color: white;
}
