[data-studiengang="fhnw-bauingenieurwesen"] {
  --color-primary: #0369a1;
  --color-konstruktiver-ingenieurbau: #0284c7;
  --color-mathematik-naturwissenschaften: #dc2626;
  --color-ingenieurgrundlagen: #ea580c;
  --color-sprache-gesellschaft: #16a34a;
  --color-geotechnik: #92400e;
  --color-verkehrswesen: #7c3aed;
  --color-wasserwesen: #0891b2;
}
