/* ==== UNIBAS-SBG - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="unibas-sbg"] .modul.grundlagen {
    background-color: var(--color-grundlagen);
    color: white;
}

[data-studiengang="unibas-sbg"] .modul.vertiefung {
    background-color: var(--color-vertiefung);
    color: white;
}

[data-studiengang="unibas-sbg"] .modul.profil {
    background-color: var(--color-profil);
    color: white;
}

[data-studiengang="unibas-sbg"] .modul.wahl {
    background-color: var(--color-wahl);
    color: white;
}
