#kp-counter {
    padding: 10px;
    background: #eee;
    font-size: 14px;
}

#kp-total {
    text-align: center;
    padding: 6px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

.kp-category {
    padding: 6px;
    background: #fff;
    margin-bottom: 6px;
    text-align: center;
    font-size: 12px;
}

.kp-category-label {
    font-weight: 600;
    color: #666;
}

.kp-category-value {
    font-weight: bold;
    color: #333;
}