/* ==== CSS CLASSES ==== */

[data-studiengang] .modul.fach,
[data-studiengang] .legende-item.fach {
  background-color: var(--color-fach);
  color: white;
}

[data-studiengang] .modul.projekt,
[data-studiengang] .legende-item.projekt {
  background-color: var(--color-projekt);
  color: white;
}
