/* ==== COLOR VARIABLES ==== */

[data-studiengang] {
  --color-primary: #0064a6;
  --color-fach: #0284c7; /* Blau für Fachmodule */
  --color-projekt: #7c3aed; /* Violett für Projekt/Praxismodule */
}
