/* ==== FHLU-EIT - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="fhlu-eit"] .modul.grundlagen {
    background-color: var(--color-grundlagen);
    color: white;
}

[data-studiengang="fhlu-eit"] .modul.elektrotechnik {
    background-color: var(--color-elektrotechnik);
    color: white;
}

[data-studiengang="fhlu-eit"] .modul.informatik {
    background-color: var(--color-informatik);
    color: white;
}

[data-studiengang="fhlu-eit"] .modul.projekte {
    background-color: var(--color-projekte);
    color: white;
}

[data-studiengang="fhlu-eit"] .modul.kontext {
    background-color: var(--color-kontext);
    color: white;
}

[data-studiengang="fhlu-eit"] .modul.vertiefung {
    background-color: var(--color-vertiefung);
    color: white;
}

[data-studiengang="fhlu-eit"] .modul.erweiterung {
    background-color: var(--color-erweiterung);
    color: white;
}

[data-studiengang="fhlu-eit"] .modul.zusatz {
    background-color: var(--color-zusatz);
    color: white;
}

[data-studiengang="fhlu-eit"] .modul.abschluss {
    background-color: var(--color-abschluss);
    color: white;
}
