/* ==== ETH-MATW - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="eth-matw"] .modul.obligatorisch {
    background-color: var(--color-obligatorisch);
    color: white;
}

[data-studiengang="eth-matw"] .modul.praktikum {
    background-color: var(--color-praktikum);
    color: white;
}

[data-studiengang="eth-matw"] .modul.wissenschaft {
    background-color: var(--color-wissenschaft);
    color: white;
}
