/* ==== ZHAW HEBAMME CSS CLASSES ==== */

[data-studiengang="zhaw-hebamme"] .modul.beruf,
[data-studiengang="zhaw-hebamme"] .legende-item.beruf {
  background-color: var(--color-beruf);
  color: white;
}

[data-studiengang="zhaw-hebamme"] .modul.interprof,
[data-studiengang="zhaw-hebamme"] .legende-item.interprof {
  background-color: var(--color-interprof);
  color: white;
}

[data-studiengang="zhaw-hebamme"] .modul.praktika,
[data-studiengang="zhaw-hebamme"] .legende-item.praktika {
  background-color: var(--color-praktika);
  color: white;
}

[data-studiengang="zhaw-hebamme"] .modul.thesis,
[data-studiengang="zhaw-hebamme"] .legende-item.thesis {
  background-color: var(--color-thesis);
  color: white;
}
