/* ==== ETH-LMW - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="eth-lmw"] .modul.basispruefung {
    background-color: var(--color-basispruefung);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.zusatzfach {
    background-color: var(--color-zusatzfach);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.obligatorisch {
    background-color: var(--color-obligatorisch);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.grundlagenfach {
    background-color: var(--color-grundlagenfach);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.weitere {
    background-color: var(--color-weitere);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.kernfach {
    background-color: var(--color-kernfach);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.fachgrundlage {
    background-color: var(--color-fachgrundlage);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.lmw-fach {
    background-color: var(--color-lmw-fach);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.praktikum {
    background-color: var(--color-praktikum);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.exkursion {
    background-color: var(--color-exkursion);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.wahl {
    background-color: var(--color-wahl);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.wik {
    background-color: var(--color-wik);
    color: white;
}

[data-studiengang="eth-lmw"] .modul.bachelor-arbeit {
    background-color: var(--color-bachelor-arbeit);
    color: white;
}
