/* ==== ZHAW-WR - CSS CLASSES ==== */

[data-studiengang="fhzh-wr"] .modul.wirtschaft,
[data-studiengang="fhzh-wr"] .legende-item.wirtschaft {
  background-color: var(--color-wirtschaft);
  color: white;
}

[data-studiengang="fhzh-wr"] .modul.recht,
[data-studiengang="fhzh-wr"] .legende-item.recht {
  background-color: var(--color-recht);
  color: white;
}

[data-studiengang="fhzh-wr"] .modul.sprachen,
[data-studiengang="fhzh-wr"] .legende-item.sprachen {
  background-color: var(--color-sprachen);
  color: white;
}

[data-studiengang="fhzh-wr"] .modul.tools-projekte,
[data-studiengang="fhzh-wr"] .legende-item.tools-projekte {
  background-color: var(--color-tools-projekte);
  color: white;
}

[data-studiengang="fhzh-wr"] .modul.wp-wi,
[data-studiengang="fhzh-wr"] .legende-item.wp-wi {
  background-color: var(--color-wp-wi);
  color: white;
}

[data-studiengang="fhzh-wr"] .modul.wp-re,
[data-studiengang="fhzh-wr"] .legende-item.wp-re {
  background-color: var(--color-wp-re);
  color: white;
}
