/* ==== ZHAW-WR - COLOR VARIABLES ==== */

[data-studiengang="fhzh-wr"] {
  --color-primary: #0f172a;

  /* Farbzuteilung */
  --color-wirtschaft: #0284c7; /* Hellblau */
  --color-recht: #1e3a8a; /* Dunkelblau */
  --color-sprachen: #0d9488; /* Teal */
  --color-tools-projekte: #4b5563; /* Grau */
  --color-wp-wi: #f97316; /* Orange */
  --color-wp-re: #ea580c; /* Dunkelorange */
}
