/* ==== ETH-MASCH - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="eth-masch"] .modul.obligatorisch {
    background-color: var(--color-obligatorisch);
    color: white;
}

[data-studiengang="eth-masch"] .modul.praktikum {
    background-color: var(--color-praktikum);
    color: white;
}

[data-studiengang="eth-masch"] .modul.wahl {
    background-color: var(--color-wahl);
    color: white;
}

[data-studiengang="eth-masch"] .modul.vertiefung {
    background-color: var(--color-vertiefung);
    color: white;
}

[data-studiengang="eth-masch"] .modul.wissenschaft {
    background-color: var(--color-wissenschaft);
    color: white;
}
