/* ==== ETH-MASCH - CSS CLASSES ==== */
/* Program-specific CSS classes */

[data-studiengang="eth-masch"] .modul.obligatorisch,
[data-studiengang="eth-masch"] .legende-item.obligatorisch {
    background-color: var(--color-obligatorisch);
    color: var(--color-obligatorisch-text, white);
}

[data-studiengang="eth-masch"] .modul.praktikum,
[data-studiengang="eth-masch"] .legende-item.praktikum {
    background-color: var(--color-praktikum);
    color: var(--color-praktikum-text, white);
}

[data-studiengang="eth-masch"] .modul.wahl,
[data-studiengang="eth-masch"] .legende-item.wahl {
    background-color: var(--color-wahl);
    color: var(--color-wahl-text, white);
}

[data-studiengang="eth-masch"] .modul.vertiefung,
[data-studiengang="eth-masch"] .legende-item.vertiefung {
    background-color: var(--color-vertiefung);
    color: var(--color-vertiefung-text, white);
}

[data-studiengang="eth-masch"] .modul.wissenschaft,
[data-studiengang="eth-masch"] .legende-item.wissenschaft {
    background-color: var(--color-wissenschaft);
    color: var(--color-wissenschaft-text, white);
}
