/* ==== ZHAW-AR - COLOR VARIABLES ==== */

[data-studiengang="fhzh-ar"] {
  --color-primary: #991b1b;

  /* Farbzuteilung */
  --color-kernrecht: #1e3a8a; /* Deep Blue */
  --color-jur-praxis: #0d9488; /* Teal */
  --color-bachelorarbeit: #4b5563; /* Grey */
  --color-wp-fk: #ea580c; /* Orange */
  --color-wp-smk: #b45309; /* Braun/Amber */
}
